<div style="max-width: 18rem; margin: auto;">
  <div class="m-3">
    <h4 *ngIf="list && list.head === null else null">Create Node</h4>
    <h4 *ngIf="list && list.head">Add Node</h4>
    <input class="form-control" type="number" [(ngModel)]="value" />
  </div>
  <div style="display: flex; justify-content: space-evenly;">
    <button class="btn btn-secondary" (click)="$event.preventDefault(); addNewNode('back')">
      Back of List
    </button>
    <button class="btn btn-primary" (click)="$event.preventDefault(); addNewNode('front')">
      Front of List
    </button>
  </div>
</div>