<div style="margin: 25px">
  <div class="container" style="display: block; justify-content: center; align-items: center;">
    <div class="row">
      <div class="col-8">
        <div class="card" style="text-align: left;">
          <div class="card-body">
            <div class="card-title">
              <h2>
                Circular Linked List
              </h2>
            </div>
            <div class="card-text" style="margin-bottom: 15px;">
              A circular linked list is a variation of a linked list data structure in which the last node of the list
              is connected back to the first node, forming a closed loop or circle. In a standard singly linked list,
              the last node typically points to null to indicate the end of the list, but in a circular linked list, it
              points back to the first node. Like a doubly linked list, it is a collection of elements, or nodes, that
              contains three components:
            </div>
            <div class="card-text" style="margin-bottom: 15px;">
              Data: This is the actual value or payload held by the node. It can be of any data type.
            </div>
            <div class="card-text" style="margin-bottom: 15px;">
              Next: A reference or pointer to the next node in the sequence, just like in a singly linked list. This
              pointer connects the current node to the following node.
            </div>
            <img src="../../assets/Circle Linked List.gif" alt="this slowpoke moves" width="250" />
            <div class="card-text" style="margin-bottom: 15px;">
              Key characteristics of a circular linked list:
            </div>
            <div class="card-text" style="margin-bottom: 15px;">
              Infinite Loop: Because the last node points back to the first node, you can traverse the list
              indefinitely. There is no explicit end, as you can keep following the "next" pointers in a continuous
              loop.
            </div>
            <div class="card-text" style="margin-bottom: 15px;">
              No Null References: Unlike standard linked lists, where the last node points to null to indicate the end,
              circular linked lists do not have null references for the "next" pointers within the list.
            </div>
            <div class="card-text" style="text-align: left;">
              <pre>
<code [innerHTML]="code"></code>
            </pre>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width: 100%">
          <div class="card-body">
            <app-add-node [list]="this.list" (addNodeBack)="this.list.append($event)"
              (addNodeFront)="this.list.prepend($event)" class="card-text"></app-add-node>
          </div>
          <div class="card-actions mb-3">
            <button class="btn btn-secondary" (click)="$event.preventDefault(); generateDummyData()">
              Generate Dummy Data
            </button>
          </div>
          <div class="card-body" style="text-align: center;" *ngIf="this.list && this.current else null">
            <div *ngIf="this.current !== null else null" class="card-text mt-2"
              style="width: 100%; height: 20px; display: flex; align-items: center; justify-content: center;">
              <h4 *ngIf="this.list.head === this.current else null">
                Head Node
              </h4>
              <h4 *ngIf="this.current.next === this.list.head else null">
                Tail Node
              </h4>
            </div>
            <app-node [node]="this.current"></app-node>
          </div>
            <div class="d-grid gap-2 card-actions m-3" *ngIf="this.current">
              <button class="btn btn-primary" [disabled]="!this.current.next" (click)="changePosition('forward')">
                <h4>
                  {{this.current.next === null ? 'null_ptr' :
                  this.current.next.id.substring(0, 5) + '...'}}
                  <i class="bi bi-arrow-bar-right"></i>
                </h4>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>