<div style="margin: 25px">
  <h1>
    Linked List : {{ list.count() }}
  </h1>
  <ul style="list-style-type: none; padding: 0;">
    <li *ngFor="let node; index as i; of list.traverse()" class="card" style="max-width: 18rem; margin-top: 15px;">
      <h4 *ngIf="i === 0 else null" style="margin-top: 15px;">Head</h4>
      <h4 *ngIf="i === list.count() - 1 else null" style="margin-top: 15px;">Tail</h4>
      <app-double-pointed-node [node]="node"></app-double-pointed-node>
      <button (click)="list.remove(node.id)" class="btn btn-danger">
        delete
      </button>
    </li>
  </ul>
</div>